/*
Theme Name: Divi - Fancy Florals by Nancy
Template: Divi
Author: Dusty Sun
Version: 1.3
Updated: 2019-12-18
*/

a {
    font-weight: bold;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
a:hover {
    color: #db939b;
}

/* header */
#main-header {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

#et-top-navigation a {
    font-weight: normal;
}

/* Set a custom blockquote design */
blockquote {
    border: none;
    position: relative;
    padding-left: 50px;
}

blockquote:before {
    content: "\201C";
    left: 0;
    position: absolute;
    top: 18px;
    font-size: 128px;
    color: #aaa;
}
.testimonials-block blockquote:after {
    content: ' ';
    width: 100%;
    border-top: 1px solid #6c6757;
    height: 1px;
    position: relative;
    display: block;
    margin-top: 25px;
}
#comment-wrap {
    padding-top: 0;
}
#commentform {
    padding-bottom: 0;
}
/* Footer */

#footer-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
}

#footer-info .rights-reserved-text {
    display: inline-block;
}
#footer-info .et_pb_button {
    background-color: #525252;
    font-size: 18px;
    border-color: #fff;
    padding: 4px 20px !important;
    color: #fff !important;
}
#footer-info .et_pb_button:hover{
    color: #fff !important;
    opacity: 1;
}
#footer-info-right {
    margin-left: 10px;
}
/* Monarch fixes */
body.et_monarch .et_social_sidebar_networks.et_social_visible_sidebar li {
    background: rgba(214, 214, 214, 0.45);
}
#footer-widgets .widget_text{
    width: 100%;
}
#footer-widgets .et_social_networks ul {
    list-style-type:none;
}
#footer-widgets .et_social_networks ul li a {
    text-align: left;
}
#footer-widgets .et_social_networks li:before {
    display: none;
}
#footer-widgets .et_social_networks ul {
  display: flex;
  margin-top: 10px !important;
}
#footer-widgets .et_social_networks ul li {
  margin-top: 0 !important;
}

#footer-widgets .et_social_networks ul li {
    margin-right: 10px !important;
}

#footer-widgets .et_social_networks ul li:last-of-type {
    margin-right: 0 !important;
}
.et_monarch .et_social_mobile .et_social_networks .et_social_network_label {
    color: #000;
    transition: none;
}
.et_monarch .et_social_mobile .et_social_networks a:hover .et_social_network_label {
    color: #fff;
}
.et_monarch #footer-widgets .et_social_networks .et_social_icon, .et_monarch #footer-widgets .et_social_networks .et_social_icon:before, .et_monarch #footer-widgets .et_social_networks .et_social_icon:after {
    width: 52px;
    height: 52px;
    line-height: 52px;
}

/* Ninja Forms */

/* input box styling */

.ninja-forms-form-wrap input[type="text"].ninja-forms-field,
.ninja-forms-form-wrap input[type="email"].ninja-forms-field, 
.ninja-forms-form-wrap textarea.ninja-forms-field,
#subscribe-email input {
    font-family: inherit;
    border: 2px solid #eee !important;
    width: 100% !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 16px;
    color: #2b2b2b !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
  }
  .ninja-forms-form-wrap input[type="text"].ninja-forms-field:focus,
  .ninja-forms-form-wrap input[type="email"].ninja-forms-field:focus, 
  .ninja-forms-form-wrap textarea.ninja-forms-field:focus,
  #subscribe-email input:focus {
    border: 2px solid #bfbfbf !important;
  }
  
  .nf-form-fields-required{display:none;}
  .nf-field-element h2 {
      padding-bottom: 0;
  }
  .nf-field-element input[type="button"] {
    padding: .3em 1em!important;
    color: #f7f7f7!important;
    font-size: 30px;
    background: #686552;
    border: 2px solid;
    border-color: #686552;
    border-radius: 7px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.nf-field-element input[type="button"]:hover {
    color: #f7f7f7!important;
    background: #db939b!important;
    border-color: #db939b!important;
    border-radius: 7px;
}
.field-wrap.submit-wrap {
    text-align: right;
}
.label-left .nf-field-label {
    text-align: left;
}
.nf-error-msg.nf-error-field-errors {
    text-align: right;
}


.homepage-photo-text h1 {
    text-shadow: 1px 1px 16px #000, -1px -1px 4px rgba(0,0,0,0.6),2px 2px 4px #000 !important;
}

/* ================================================= */
/*  IMAGE HOVER HIGHLIGHT                            */
/* ================================================= */

  .jr-insta-thumb ul.thumbnails li a {
      position: relative;
      display: inline-block;
      vertical-align: top !important;
      width: 100%;
  }
  .jr-insta-thumb ul.thumbnails li a:hover img {
      opacity: 0.9;
  }
  .jr-insta-thumb ul.thumbnails li a:before,
  .jr-insta-thumb ul.thumbnails li a:after {
      position: absolute;
      left: 8px;
      right: 8px;
      top: 8px;
      bottom: 8px;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
  }
  
  .jr-insta-thumb ul.thumbnails li a:before,
  .jr-insta-thumb ul.thumbnails li a:after {
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
  }
  .jr-insta-thumb ul.thumbnails li a:before {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
  }
  .jr-insta-thumb ul.thumbnails li a:after {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      -webkit-transform: scale(1,0);
      transform: scale(1,0);
  }
  .jr-insta-thumb ul.thumbnails li a:hover:after,
  .jr-insta-thumb ul.thumbnails li a:focus:after,
  .jr-insta-thumb ul.thumbnails li a:hover:before,
  .jr-insta-thumb ul.thumbnails li a:focus:before {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    z-index: 999;
  }
	.wis-feed-header {
		display: none;
	}
	.wis-feed-header + br {
		display: none;
	}
/* gallery lightboxes */

.gallery-hover-names .et_pb_gallery_caption {
    display: none;
}
.gallery-hover-names .et_pb_gallery_title {
    display:none;
    transition: all 0.4s ease-in-out;
    line-height: 1.2em;
    margin-left: 0;
    font-size: 16px;
    padding: 1px 6px 8px !important;
    margin: 0;
    text-align: center;
    width: 100%;
}
.gallery-hover-names .et_pb_gallery_item:hover .et_pb_gallery_title {
    position: absolute;
    bottom: 106%;
    z-index: 999;
    color: #fff;
    display: block;
    background-color: rgba(0,0,0, 0.76);
    border-radius: 10px;
}
.gallery-hover-names .et_pb_gallery_item:hover .et_pb_gallery_title:before {
    content: ' ';
    position: absolute;
    left: 44%;
    bottom: -10px;
    border-top: 10px solid rgba(0, 0, 0, 0.76);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* Set the image widths */
.gallery-hover-names.et_pb_gallery_grid .et_pb_grid_item {
    position: relative;
}
.gallery-hover-names.et_pb_gallery_grid .et_pb_gallery_image,
.gallery-hover-names.et_pb_gallery_grid .et_pb_gallery_image.portrait img,
.gallery-hover-names.et_pb_gallery_grid .et_pb_gallery_image.landscape img
{
    width: 100% !important;
    object-fit:cover;
    height: 180px;
    min-height: 180px;
}
.et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item {
    width: 15.8%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(4n) {
    margin-right: 1%;
}
.et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(6n) {
    margin-right: 0;
}
.et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(4n+1) {
    clear:none;
}
.et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(6n+1) {
    clear:both;
}
/* blog posts */
body.page:not(.et_pb_pagebuilder_layout) #main-content .container {
    padding-bottom: 40px;
}
body.single:not(.et_pb_pagebuilder_layout) .post-meta {
    padding-bottom: 0;
}
body.single:not(.et_pb_pagebuilder_layout) .entry-content {
    padding-top: 0;
}
/* sidebar */
.et_right_sidebar #main-content .container:before { display: none; }
body #page-container #sidebar {
    padding-top: 10px;
    position: sticky;
    top: 114px;
    padding-left: 0;
}
a.rcom_consult_book {
    width: 100%;
    font-weight: normal;
    text-decoration: none;
    background-color: #686552;
    color: #fff !important;
    padding: 15px 5px;
    font-size: 26px;
    line-height: 32px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #0000005c;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
a.rcom_consult_book:hover {
    box-shadow: none;
    color: #fff !important;
    background-color: #db939b;
}
#subscribe-submit button[type="submit"] {
    border: none;
    color: #fff;
    display: inline-block;
    padding: 11px 24px 10px;
    text-decoration: none;
    width: 100%;
    background-color: #686552;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #00000066;
}
#subscribe-submit button[type="submit"]:hover {
    background-color: #db939b;
    outline: none;
}

/* pricing */
.stacktable table.large-only tr:nth-child(2n+2),
.stacktable table.small-only .st-head-row {
    background-color: #f5f5f5;
}
.flower-price-options table.large-only { 
    max-width: 1000px;
    margin: 0 auto;
}
.stacktable.flower-price-options table.small-only .st-head-row {
    text-align: center;
}
.flower-price-options table.small-only .st-head-row .st-key { display: none; }
.flower-price-options table.small-only .st-head-row .st-val { width: 100%; }
.flower-price-range table.large-only { 
    max-width: 800px;
}
.flower-price-range.et_pb_pricing .et_pb_pricing_heading {
    margin-bottom: 0;
    padding: 10px !important;
}
.flower-price-range .et_pb_pricing li {
    padding: 8px 10px;
}
.flower-price-range .et_pb_pricing li:nth-child(2n+1) {
    background-color: #f5f5f5;
}
@media (max-width: 1024px) {
    body.et_monarch #footer-info {
        padding-bottom: 45px;
        transition: all 0.4s ease-in-out;
    }
    body.et_monarch #footer-info.monarch-hidden {
        padding-bottom: 4px;
    }
}
@media (min-width: 981px) {
    
    #page-container {
        padding-top: 260px !important;
    }
    #logo {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .book-button a {
        padding: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .et-fixed-header #top-menu li.book-button.current-menu-ancestor>a, .et-fixed-header #top-menu li.book-button.current-menu-item>a {
        color:#6d6d6d !important;
    }
    .et-fixed-header .book-button a {
        margin-top: -20px;
        margin-left: 0;
        margin-right: 0;
        background-color: #e6e6e6;
        transition: all 0.4s ease-in-out;
    }
    .et-fixed-header #top-menu .book-button a:hover {
        opacity: 1;
        background-color: #db939b;
        color: #fff !important;
    }
    body.et_header_style_centered #top-menu>li>a {
        padding-bottom: 20px;
    }
    body.et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
        height: 14px;
    }
    body.et_header_style_centered .et-search-form input, body.et_header_style_centered span.et_close_search_field {
        top: 80%;
    }
    body.et_header_style_centered .et-fixed-header .et-search-form input {
        top: -8px;
    }
    body.et_header_style_centered .et-fixed-header span.et_close_search_field {
        top: 10px;
    }
    #footer-widgets > div:nth-of-type(1n+2) {
        padding-top: 20px;
    }
} /* media 981px */
@media (max-width: 980px) {
    .et_mobile_menu li a {
        font-size: 16px;
    }
    .et_header_style_centered #logo {
        max-height: 100px;
    }
    .et_header_style_centered header#main-header .logo_container {
        max-height: 140px;
    }
    .homepage-photos .et_pb_column {
        width: 29.667%;
        margin-right: 5.5%;
    }
    .homepage-photos .et_pb_column:last-child {
        margin-right: 0;
    }

    /* Gallery Items */
    .et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item {
        width: 24.25%;
    }
    .et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(6n) {
        margin-right: 1%;
    }
    .et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(4n) {
        margin-right: 0;
    }
    .et_pb_column .gallery-hover-names .et_pb_grid_item:nth-child(3n+1),
    .et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(6n+1) {
        clear:none;
    }
    .et_pb_column .gallery-hover-names .et_pb_grid_item:nth-child(4n+1) {
        clear:both;
    }

} /* media 980px */

@media (max-width: 768px) {

    #page-container .gallery-size-thumbnail .gallery-item {
        width: 24%;
    }
    #page-container .gallery-size-medium .gallery-item {
        width: 32.3%;
    }
    #page-container .gallery-size-large .gallery-item {
        width: 48%;
        margin: 1%;
    }

    .calculator tr {    display: table;  width:100%;    }               
        .calculator td {    display: table-row; }  

} /* media max 768px */


@media (max-width: 767px) {
    blockquote {
        padding-left: 32px;
    }
    blockquote:before {
        font-size: 64px;
        top: 13px;
    }
    #footer-widgets .footer-widget:nth-child(n) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4% !important;
    }
    #footer-widgets {
        padding: 8% 0 2%;
    }
    #footer-widgets .footer-widget:nth-child(n) h4,
    #footer-widgets .footer-widget:nth-child(n) p {
        text-align: center;
    }
    #footer-info {
        justify-content: center;
    }
    #footer-info-right {
        margin-left: 10px;
    }
    body .nf-form-cont .one-half, body .nf-form-cont .three-sixths, body .nf-form-cont .two-fourths {
        width: 100%;
        margin-left: 0;
    }
    /* Gallery Items */
    .et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item {
        width: 49.5%;
    }
    .et_pb_gutters3 .et_pb_column_4_4 .gallery-hover-names .et_pb_grid_item:nth-child(2n) {
        margin-right: 0;
    }

} /* media max 767px */

@media (max-width: 525px) {
    .homepage-photos .et_pb_column {
        width: 100%;
        margin-right: 0;
    }
 } /* media max 525px */

@media (max-width:479px) {
    #page-container .container {
        width: 90%;
    }
    #page-container .gallery-size-thumbnail .gallery-item,
    #page-container .gallery-size-medium .gallery-item {
        width: 48%;
        margin: 1%;
    }
    #page-container .gallery-size-large .gallery-item {
        width: 100%;
        margin: 1%;
    }
    .static-text-slider .et_pb_slide {
        padding-left: 0;
        padding-right: 0;
    }
    .static-text-slider.et_pb_slider .et_pb_container {
        width: 100%;
    }
    .static-text-slider.et_pb_slider .et-pb-arrow-next {
        right: -7px;
    }
    .static-text-slider.et_pb_slider .et-pb-arrow-prev {
        left: -10px;
    }
} /* media max 479px */
